services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb_data:/data/db
      - ./mongod.conf:/etc/mongo/mongod.conf:ro # Optional: Uncomment and create mongod.conf if you need custom configuration
    networks:
      - docker_services_network

volumes:
  mongodb_data:
    name: mongodb_data

networks:
  docker_services_network:
    name: docker_services_network
    external: true