services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro # Optional: bind mount for custom Redis config file (read-only)
    environment:
      # - REDIS_PASSWORD=redis-password
      - REDIS_PORT=6379
      # - REDIS_DATABASES=16
    networks:
      - docker_services_network

volumes:
  redis_data:
    name: redis_data

networks:
  docker_services_network:
    name: docker_services_network
    external: true
